// Place all the styles related to the ReadMode controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#current_article {
  padding: 20px;
  border: solid 1px lightgray;
  p {
    font-size: 16px;
  }
}

#debug-output {
  padding: 10px;
  background-color: lightgray;
}

.debug-info {
  padding-top: 40px;
}